{include file="public/head" /}
        <table class="table table-bordered" style='table-layout:fixed;'>
            <caption><button type="button" class="btn btn-primary a" url="{:url('role_add')}">添加角色</button></caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>角色名</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='data' id='vol'}
            <tr>
                <td>{$vol.id}</td>
                <td>{$vol.title}</td>
                <td>
                    {eq name="vol['status']" value="1"}
                    <span class="label label-success">
                    {else/}
                    <span class="label label-danger">
                    {/eq}
                     {$vol.status_zh}</span>
                </td>
                <td>
                    <button type="button" class="btn btn-primary a" url="{:url('role_edit',['id'=>$vol['id']])}">修改</button>
                    <button type="button" class="btn btn-danger del" val="{$vol.id}">删除</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <div style="text-align: center">{$data->render()}</div>
{include file="public/foot" /}
<script>
    $('.del').click(function(){
        var id=$(this).attr('val');
        layer.confirm('确定删除该角色？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.post("{:url('role_del')}",{id:id},function(re){
                layer.msg(re.msg,{time:2000},function(){
                    if(re.code=='0') location.reload();
                });
            });
        });
    })
</script>
