{include file="public/head" /}
<div style="overflow:hidden;">
    <table class="table table-bordered" style='table-layout:fixed;'>
        <caption><button type="button" class="btn btn-primary a" url="{:url('article_add')}">新增文章</button></caption>
        <caption style="text-align: center">
            <form class="form-inline" role="form" action="">
                分类:
                <select name="type" class="form-control">
                    <option value="">全部</option>
                    {volist name='type' id='vo'}
                    <option value="{$vo.id}" {$search.type==$vo.id?'selected':''}>{$vo.title}</option>
                    {/volist}
                </select>
                文章标题:
                <div class="form-group">
                    <input type="text" class="form-control" name="title" value="{$search.title}" placeholder="请输入节点名称">
                </div>
                <input type="submit" class="btn btn-success" value="搜索">
            </form>
        </caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>分类</th>
            <th>更新时间</th>
            <th>是否显示</th>
            <th>是否推荐</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='data' id='vol'}
        <tr>
            <td>{$vol.id}</td>
            <td>{$vol.title}</td>
            <td>{$vol.p_title}</td>
            <td>{$vol.createdate}</td>
            <td>{$vol.is_show_zh}</td>
            <td>{$vol.is_rec_zh}</td>
            <td>
                <button type="button" class="btn btn-primary a" url="{:url('article_edit',['id'=>$vol['id']])}">修改</button>
                <button type="button" class="btn btn-danger del" val="{$vol.id}">删除</button>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div style="text-align: center">{$data->render()}</div>
</div>
{include file="public/foot" /}
<script>
    $('.del').click(function(){
        var id=$(this).attr('val');
        layer.confirm('确定删除该文章吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.post("{:url('article_del')}",{id:id},function(re){
                layer.msg(re.msg,{time:2000},function(){
                   if(re.code=='0') location.reload();
                });
            });
        });
    })
</script>
